<div class="swiper-slide swiper-slide-next relative" style="width: 389.333px; margin-right: 16px">
  <article class="relative overflow-hidden rounded-lg bg-neutral-100">
    <a href="/tour/tra-ang-excursion-1d" class="">
      <div class="relative overflow-hidden">
        <div class="absolute z-20 flex flex-wrap gap-1 top-4 inset-x-4"></div>
        <div class="absolute z-10 leaf-tr">
          <img
            src="/images/card/leaf-top-right.webp"
            class="object-cover w-full h-full"
            alt="leaf right"
          />
        </div>
        <div class="absolute z-10 leaf-bl">
          <img
            src="/images/card/leaf-bottom-left.webp"
            class="object-cover w-full h-full"
            alt="leaf left"
          />
        </div>
        <div class="aspect-w-3 aspect-h-2">
          <img
            class="object-cover w-full h-full"
            src="https://cms.junglebosstours.com/assets/17413363-ccd2-4334-bf50-2ad0f6f13ce7?format=webp"
            alt="17413363 ccd2 4334 bf50 2ad0f6f13ce7formatwebp"
            loading="lazy"
          />
        </div>
      </div>
    </a>
    <div class="px-6 py-4 space-y-[22px]">
      <div class="space-y-2">
        <a href="/tour/tra-ang-excursion-1d" class="">
          <h3
            class="font-medium text-gray-900 duration-500 ease-in-out title-2 lg:hover:text-primary line-clamp-1"
          >
            Tra Ang Excursion 1D
          </h3>
        </a>
        <div class="flex items-center justify-between w-full space-x-4">
          <div class="w-1/2 text-gray-700 body-1">1 day</div>
        </div>
        <div class="text-primary-dark title-1">VND 800,000/pax</div>
      </div>
      <div class="text-gray-700 body-1 line-clamp-6">
        This one-day journey takes you deep into the Tra Ang Valley. Swim through the mesmerizing
        Tra Ang Cave, enjoy a BBQ feast amidst the lush rainforest, and relax by the tranquil waters
        of the Tra Ang stream.
      </div>
    </div>
  </article>
</div>
