<div className="swiper-slide swiper-slide-next" style={{ width: "320.538px", marginRight: "16px" }}>
<article className="card-tour">
    <a href="/tour/phong-huong-excursion-2-days-1-night">
        <div className="relative overflow-hidden">
            <div className="absolute top-0 left-0 z-20 w-full">
                <div className="grid grid-cols-2 px-1 lg:px-2 gap-x-2">
                    <div></div>
                    <div className="flex items-center justify-center"></div>
                </div>
            </div>

            <div className="absolute z-10 leaf-tr">
                <img
                        alt="leaf right"
                        className="object-cover w-full h-full"
                        src="/images/card/leaf-top-right.webp"
                />
            </div>

            <div className="absolute z-10 leaf-bl">
                <img
                        alt="leaf left"
                        className="object-cover w-full h-full"
                        src="/images/card/leaf-bottom-left.webp"
                />
            </div>

            <div className="aspect-w-3 aspect-h-2">
                <img
                        alt="Tour image"
                        className="object-cover w-full h-full"
                        loading="lazy"
                        src="https://cms.junglebosstours.com/assets/7afb8c54-b489-4566-a618-4e1a56e3b513?format=webp"
                />
            </div>
        </div>
    </a>

    <div className="px-6 py-4 space-y-2">
        <a href="/tour/phong-huong-excursion-2-days-1-night">
            <h3 className="font-medium text-gray-900 duration-500 ease-in-out title-2 lg:hover:text-primary line-clamp-1">
                Phong Huong Excursion 2D1N
            </h3>
        </a>

        <div className="space-y-1 text-gray-700 body-1">
            <div>Level 1 - Easy</div>
            <div className="flex items-center justify-between w-full space-x-4">
                <div className="w-1/2">2 days 1 night</div>
                <div className="flex items-center justify-end flex-shrink-0 w-1/2 space-x-1">
                    <div className="text-gray-900 label-1">4.9/5</div>
                    <div className="flex-shrink-0">
                        <svg className="w-[15px] pb-1" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.29602 0.75L5.79602 6L1.29602 6.25L4.79602 9.75L3.04602 15.25L8.29602 12.25L12.796 15.5L11.796 9.25L15.046 6H10.296L8.29602 0.75Z" />
                        </svg>
                    </div>
                    <div className="flex-shrink-0 body-2">
                        <a
                                className="duration-150 ease-in-out text-primary lg:hover:text-primary-darker"
                                href="https://www.tripadvisor.com/Attraction_Review-g4014591-d8403784-Reviews-Jungle_Boss_Tours-Phong_Nha_Ke_Bang_National_Park_Quang_Binh_Province.html"
                                target="_blank"
                                rel="noopener noreferrer"
                        >
                            (See Reviews)
                        </a>
                    </div>
                </div>
            </div>

            <div className="flex items-center justify-between space-x-1">
                <div>Price</div>
                <div className="text-gray-900 label-1">VND 1,950,000/pax</div>
            </div>
        </div>
    </div>
</article>
</div>
